bin/expressInstall.swf
bin/js/swfobject.js
bin/LD30.swf
bin/StableBird.swf
obj/LD30Config.old
obj/LD30Config.xml
obj/StableBirdConfig.old
obj/StableBirdConfig.xml
bin/LD30.swf
bin/LD30.swf
src/data/secretPedetal.png